[Desktop Entry]
Name=RadioIt
Version=1.0
Comment=Automation software for Radios.
Comment[es]=Automatizador para emisoras de radio.
Comment[hu]=Adásvezérlő szoftver rádiókhoz
GenericName=Radio Automation
GenericName[es]=Radio Automatizador
GenericName[hu]=Rádió Adásvezérlő
Exec=radioit
Icon=radioit
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Player;Music;Multimedia;Qt;
